[Unit]
Description=Ikan reptile service.
Documentation=https://github.com/mycrl

[Service]
ExecStartPre=/bin/sleep 10
ExecStart=node /etc/ikan-reptile/src/index.js
ExecReload=node /etc/ikan-reptile/src/index.js
ExecStop=killall ikan_reptile
TimeoutStartSec=0
Restart=always

[Install]
WantedBy=multi-user.target
